.loader-wrapper {
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 50%);


  .loader-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 60px;
    height: 60px;
    margin: -38px 0 0 -38px;
    border: 16px solid #000000;
    border-radius: 50%;
    border-top: 16px solid #a8daa4;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}